li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec-title {
  position: relative;
  padding-bottom: 10px;
}

.sec-title h2 {
  position: relative;
  color:rgb(63, 61, 61) ;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}
.sec-title.light h2 {
  color: #fff;
}
.contact-page-section {
  position: relative;
  padding-top: 10px;
  padding-bottom: 80px;
}
.contact-page-section .inner-container {
  position: relative;
  z-index: 1;
  background-color: rgb(81, 29, 97);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.contact-page-section .form-column {
  position: relative;
  padding: 0 0 0 15px;
}
.contact-page-section .form-column .inner-column {
  position: relative;
  padding: 40px 20px 20px;
  background-color: #fff;
}
.contact-page-section .info-column {
  position: relative;
}
.contact-page-section .info-column .inner-column {
  position: relative;
  padding: 35px 35px;
}
.contact-page-section .info-column h2 {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 30px;
}
.contact-page-section .info-column .list-info {
  position: relative;
  margin-bottom: 6px;
}
.contact-page-section .info-column .list-info li {
  position: relative;
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  line-height: 1.8em;
  padding-left: 45px;
}
.contact-page-section .info-column .list-info li:last-child {
  margin-bottom: 0;
}
.contact-page-section .info-column .list-info li i {
  position: absolute;
  left: 0;
  top: 8px;
  color: #fff;
  font-size: 30px;
}
.contact-form {
  position: relative;
}
.contact-form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  color: rgb(67, 65, 65);
  font-size: 14px;
  line-height: 38px;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border: #b31ed4;
}
.contact-form textarea {
  height: 200px;
  resize: none;
}
.contact-form .theme-btn {
  margin-top: 10px;

  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background: #90184e;
  border-color: #c7799c;
  color: #ffffff;
  box-shadow: 1px 3px 3px #828181;

  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #fff;
}
.contact-form .theme-btn:hover {

  border-radius: 25px;
  background: #bc1761;
  border-color: #471d30;
  color: #ffffff;
  box-shadow: none;
  outline:none;


}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
  border-color: rgb(84, 12, 136) !important;
}
.contact-form label.error {
  display: block;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(118, 8, 124);
  font-weight: 500;
}
.social-icon-four {
  position: relative;
}
.social-icon-four li {
  position: relative;
  margin-right: 18px;
  display: inline-block;
}
.social-icon-four li.follow {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}
.social-icon-four li a {
  position: relative;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icon-four li a:hover {
  color: #bc1761;
}
